# CORS
CORS_ALLOWED_ORIGINS=http://localhost,http://local.host

# MYSQL
MYSQL_DSN=root:rootpw@tcp(localhost:3306)/letter_block_development

# REDIS
REDIS_URL=redis://:@localhost:6379/0

# RSA KEY PAIR
RSA_PRIVATE_KEY=
RSA_PUBLIC_KEY=
